@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.css */

.select-no-scrollbar {
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE and Edge */
}

.select-no-scrollbar::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari and Opera */
}

nextjs-portal {
  display: none;
}